@import 'src/app/scss/global-styling';

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .calender {
        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - 56px);
        margin-top: 20px;

        .day {
            height: calc((100vh - 50px) / 6 - 10px);
            min-height: 50px;
            min-width: 50px;
            width: calc(100vw / 7 - 10px);
            margin: 1px;
            background-color: $sublight;

            &.disabled {
                background: repeating-linear-gradient(135deg, transparent, transparent 1px, $sublight 2px, $sublight 3px, transparent 4px);
            }
        }
    }
}