@import 'src/app/scss/global-styling';

html {
    width: 100%;
    height: 100%;

    body {
        margin: 0px;
        height: 100%;
        width: 100%;
        font-family: 'Karla', sans-serif;
        background-color: $light;

        &.no-scroll {
            overflow: hidden;
        }
    }
}